<body ng-app="app">
<div class="door">
    <div class="flower_circle">
        <img src="/img/flower_circle.png" class="img-responsive center-block">
        <div class="login_form">
            <img src="/img/door_form.png" class="img-responsive center-block"/>
            <form class="login_input" action="/login" method="post">
                <input type="text" value="chenin" class="first_name" name="girl">
                <input type="password" value="eryidianer" class="login_cipher" name="token">
                <input type="text" value="blandy" class="second_name" name="boy">
                <input type="submit" class="door_btn" value="enter >>">
                <a href="#" class="register_btn"><< register</a>
            </form>
        </div>
    </div>
</div>
</body>


